.background {
  height: 100%;
  background: url('../../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.whiten {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.googleLogo {
  margin-right: 10px;
}

.appName {
  font-weight: bold;
  color: #328ae9;
  text-shadow:3px 3px 15px #000;
}

.logo {
  height: 80px;
  margin-right: 20px;
}

.content {
  padding-top: 10%;
}

.startApp {
  padding-top: 10%;
}

.explain {
  margin-top: 10%;
  text-shadow:3px 3px 15px #000;
  color: #fff;
}

.signupExplain {
  margin-top: 20px;
  text-shadow:3px 3px 15px #000;
  color: #fff;
}

.header {
  color: #fff;
}